.tetris{
    font-size: 1rem;

    a{
        text-decoration: none;
        &:hover,&:active{
            color:#334466;
        }
    }

    &>canvas, &>section{
        display: inline-block;
        vertical-align: middle;
    }

    canvas{
        border:1px solid #000000;
        box-shadow: #334466 0.5px 0.5px;
        padding:3px 3px 0px 3px;
    }

    &>section{
        margin-left: 1vw;
        &>section.links{
            li{
                cursor: pointer;
            }
            li.selected{
                font-size: 1.1rem;
                font-weight: bold;
                list-style-type: circle;
            }
        }
    }
}
#GameContainer, #Training{
    display: inline-block;
}

#Training{
    th{
        width: 50%;
    }

    tr:nth-child(even){
        background-color: #e3e4e5;
    }
}